# Modeling Part 2. Multivariate Time Series Analysis.

## Table of Contents
- [Importing Necessary Libraries & Loading Data](#Importing-Necessary-Libraries-&-Loading-Dsta)
- [Modeling](#Modeling)

## Importing Necessary Libraries & Loading Data

In [16]:
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm


from datetime import datetime

import seaborn as sns
%matplotlib inline

from sklearn.model_selection import train_test_split

from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.statespace.sarimax import SARIMAX
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

import pmdarima as pm

# This will allow us to avoid a FutureWarning when plotting.
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

from warnings import catch_warnings
from warnings import filterwarnings
import warnings

warnings.simplefilter(action="ignore")

In [17]:
data = pd.read_csv('../Data/Data_concat_clean.csv')
data.head()

,DATE,Settlement Price,IA_TMIN_lag_72,IL_TMIN_lag_72,MN_TMIN_lag_72,IA_TMAX_lag_72,IL_TMAX_lag_72,MN_TMAX_lag_72
0,1990-01-02,5.613,NaN,NaN,NaN,NaN,NaN,NaN
1,1990-01-03,5.673,NaN,NaN,NaN,NaN,NaN,NaN
2,1990-01-04,5.633,NaN,NaN,NaN,NaN,NaN,NaN
3,1990-01-05,5.645,NaN,NaN,NaN,NaN,NaN,NaN
4,1990-01-08,5.707,NaN,NaN,NaN,NaN,NaN,NaN

Converting 'DATE' column to datetime format, setting it as the index, and sorting the dataframe ascending by date.

In [18]:
data['DATE'] = pd.to_datetime(data['DATE'])
data.set_index('DATE', inplace=True)
data.sort_index(inplace=True)
data

,Settlement Price,IA_TMIN_lag_72,IL_TMIN_lag_72,MN_TMIN_lag_72,IA_TMAX_lag_72,IL_TMAX_lag_72,MN_TMAX_lag_72
DATE,,,,,,,
1990-01-02,5.613,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-03,5.673,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-04,5.633,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-05,5.645,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-08,5.707,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
2019-12-24,9.365,70.0,69.0,51.0,86.0,93.0,68.0
2019-12-26,9.465,59.0,71.0,49.0,87.0,92.0,64.0
2019-12-27,9.415,66.0,51.0,53.0,88.0,95.0,84.0
2019-12-30,9.525,68.0,67.0,64.0,89.0,95.0,85.0
2019-12-31,9.555,68.0,63.0,66.0,87.0,90.0,87.0

Checking the variable datatypes to ensure all are of type float.

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7559 entries, 1990-01-02 to 2019-12-31
Data columns (total 7 columns):
Settlement Price    7559 non-null float64
IA_TMIN_lag_72      7487 non-null float64
IL_TMIN_lag_72      7487 non-null float64
MN_TMIN_lag_72      7487 non-null float64
IA_TMAX_lag_72      7487 non-null float64
IL_TMAX_lag_72      7487 non-null float64
MN_TMAX_lag_72      7487 non-null float64
dtypes: float64(7)
memory usage: 472.4 KB

Checking the nulls.

In [20]:
data.isnull().sum().sort_values(ascending=False)

MN_TMAX_lag_72      72
IL_TMAX_lag_72      72
IA_TMAX_lag_72      72
MN_TMIN_lag_72      72
IL_TMIN_lag_72      72
IA_TMIN_lag_72      72
Settlement Price     0
dtype: int64

All null values in the dataframe are due to the seasonal time lags. We do not need to remove these nulls, as we will drop them during the modeling process.

## Modeling

In this model, we are incorporating exogenous features into the SARIMA model we built in the [Modeling Part 1: Univariate Time Series Analysis](https://github.com/AndreaYoss/Capstone/blob/master/EDA/Modeling%20Part%201.%20Univariate%20Time%20Series%20Analysis..ipynb) notebook. We are building a SARIMAX model.
  
To start, we are seperating our dataframe into training and testing data. While we will have the same endogenous feature as our prior models ('Settlement Price'), we will also be including some likely external, exogenous features.

In [21]:
train_ex = data[data.index<'2017-01-01'].dropna()
test_ex = data[data.index>='2017-01-01'].dropna()

In [ ]:
sarimax = SARIMAX(endog = train_ex['Settlement Price'],
                order = (4,1,4),
                 seasonal_order = (1,0,0,72),
                 exog = train_ex.drop(columns=['Settlement Price']))

#fit SARIMAX model
model = sarimax.fit()

In [ ]:
preds = model.forecast(len(test_ex), 
               exog = test_ex.drop(columns = ['Settlement Price']),
               step=1, 
               alpha = 0.05)
        
#evaluate predictions
print(mean_absolute_error(test_ex['Settlement Price'], preds))

In [ ]:
preds.index = test_ex.index

In [ ]:
#plot data
plt.figure(figsize = (10,6))
plt.plot(train_ex['Settlement Price'], color = 'blue')
plt.plot(test_ex['Settlement Price'], color = 'orange')
plt.plot(preds, color = 'green')
plt.title(label = 'Av Daily Soybean Price with SARIMAX(4,1,4)X(1,0,0,72)')
plt.show();

In [ ]:
# Plot data.
plt.figure(figsize=(10,6))
plt.plot(test_ex['Settlement Price'], color = 'orange', label = 'Actual Prices')
plt.plot(preds, color = 'green', label = 'SARIMAX Predicted Prices')
plt.title(label = 'Daily Average Soybean Price with SARIMAX(4,1,4)(1,0,0,72) Predictions')

# Plot Approx China Trade War Speculation 
#plt.axvline('2018-06', color = 'r', ls = '-.', label = 'China Trade War Speculation (Approx.)')

plt.ylabel('Price (USD)', fontsize = 14)
plt.xlabel('Date', fontsize = 14)
plt.legend()
plt.show();